<div class="container">
  <h3>Payment Form</h3>

  <div class="row">
    <div class="form-group col">
      <label for="payeeName">Payee Name</label>
      <input id="payeeName" type="text" class="form-control" (input)="onNameChange($event.target)">
    </div>

    <div class="col">
      <label for=""><b>Name</b></label>
      <div>{{ name | titlecase }}</div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label for="paymentDate">Payment Date</label>
      <input id="paymentDate" type="date" class="form-control" (input)="onDateChange($event.target)">
    </div>

    <div class="col">
      <label for=""><b>Payment Date</b></label>
      <div>{{ date | date: "MMMM d, y" }}</div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label for="amount">Payment Amount</label>
      <input id="amount" type="number" class="form-control" (input)="onAmountChange($event.target)">
    </div>

    <div class="col">
      <label for=""><b>Payment Amount</b></label>
      <div>{{ amount | currency: 'BRL' }}</div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label for="miles">Miles</label>
      <input id="miles" type="number" class="form-control" (input)="onMilesChange($event.target)">
    </div>

    <div class="col">
      <label for=""><b>Kilometers</b></label>
      <div>{{ miles | convert: 'cm' | number: '1.0-2' }}</div>
    </div>
  </div>
</div>



